div {
    font-family: 'Times New Roman', Times, serif;
    border:1px solid red;
    padding: 10px;
    background-color: beige;
    column-count: 3;
    column-gap: 50px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: blue;   
    column-rule: 2px solid palevioletred; 
    column-width: 300px;      
}

h1{
    column-span: all;
    border:1px solid black;
    background-color: grey;
}

/* .one{
    position: relative;
    left:350px;
    width:100%;
    background-color: black;    
}  */